<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<% const nombreUsuario = 'Sofía'; %>
<%- include('../componentes/menu/menu',{nombre:nombreUsuario}) %>

<style>
    table, tr, td, th {
        border: solid;
    }
</style>
<a href="/api/traguito/crear">
    <button>Nuevo</button>
</a>

<table>
    <tr>
        <th>Nombre</th>
        <th>Grados</th>
        <th>Caduca</th>
        <th>Precio</th>
        <th>Tipo</th>
        <th>Acciones</th>
    </tr>
    <% arregloTragos.forEach((trago)=>{ %>
        <tr>
            <form action="/api/traguito/editar" method="post">
                <td><input type="text" name="nombre" value="<%= trago.nombre %>"></td>
                <td><input type="text" name="gradosAlcohol" value="<%= trago.gradosAlcohol %>"></td>
                <td><input type="text" name="fechaCaducidad" value="<%= trago.fechaCaducidad %>"></td>
                <td><input type="text" name="precio" value="<%= trago.precio %>"></td>
                <td><input type="text" name="tipo" value="<%= trago.tipo %>"></td>


                <td>

                    <input type="hidden" name="id" value="<%= trago.id %>">
                    <button>Editar</button>
                </td>
            </form>
            <td>
                <form action="/api/traguito/eliminar" method="post">
                    <input type="number" name="id" value="<%= trago.id %>" hidden>
                    <button>Eliminar</button>
                </form>

            </td>
        </tr>
    <% }) %>
</table>
<%- include('../componentes/footer/footer') %>
</body>
</html>