<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
<%- include('../componentes/menu/menu') %>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <legend>Gestión de platos de <%= nombre%></legend></div>
        <div class="panel-body">
            <div class="col-md-6">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% x = -1 %>
                    <% arregloDisponibles.forEach((plato)=>{ x++ %>
                    <tr>
                        <form action="/api/combo/addPlato" method="post">

                            <td><input id="nombreId" type="text" class="form-control" name="nombre"
                                       value="<%= plato.nombre %>"></td>
                            <td><input id="descripcionId" type="text" class="form-control" name="descripcion"
                                       value="<%= plato.descripcion %>"></td>
                            <td><input id="precioId" type="text" class="form-control" name="precio"
                                       value="<%= plato.precio %>">
                                <input id="Id" type="hidden" class="form-control" name="id" value="<%= plato.id %>">
                                <input id="Id" type="hidden" class="form-control" name="index" value="<%= x %>">

                            </td>

                            <td>
                                <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
                            </td>
                        </form>


                    </tr>
                    <% }) %>

                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% x = -1 %>
                    <% arregloSeleccionados.forEach((plato)=>{ x++ %>
                    <tr>
                        <form action="/api/combo/rmvPlato" method="post">

                            <td><input id="nombreId" type="text" class="form-control" name="nombre"
                                       value="<%= plato.nombre %>"></td>
                            <td><input id="descripcionId" type="text" class="form-control" name="descripcion"
                                       value="<%= plato.descripcion %>"></td>
                            <td><input id="precioId" type="text" class="form-control" name="precio"
                                       value="<%= plato.precio %>">
                                <input id="Id" type="hidden" class="form-control" name="id" value="<%= plato.id %>">
                                <input id="Id" type="hidden" class="form-control" name="index" value="<%= x %>">
                            </td>
                            <td>
                                <button class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span></button>
                            </td>
                        </form>


                    </tr>
                    <% }) %>

                    </tbody>
                </table>

            </div>


        </div>

    </div>
</div>

</body>
</html>